//color palette: https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff

$richBlack: #0B090A;
$eerieBlack: #161A1D;
$bloodRed: #660708;
$josiRed: #904546;
$rubyRed: #A4161A;
$carnelian: #BA181B;
$imperialRed: #E5383B;
$silverChalice: #B1A7A6;
$lightGray: #D3D3D3;
$cultured: #F5F3F4;
$white: #FFFFFF;

$maybeBackground: #474242;
